Video{
    border: 1px solid black;
}
#progressBar{
    width: 300px;
}
#container{
    width: 100%;
    height: 100%;
   margin-top: 70px;
    text-align: center;
}
body{
    background-color: bisque;
}